<section class="contacts">
  <div class="container">
    <h2 class="visually-hidden">Contacts</h2>
    <div id="contacts" class="position">
      <ul class="contacts__stores-list">
        <li class="store">
          <h3 class="store__name">cafe</h3>
          <h4 class="store__region">Chicago</h4>
          <a
            class="store__location"
            href="https://www.google.com/maps/place/10340+Ridgeland+Ave,+Chicago+Ridge,+IL+60415,+%D0%A1%D0%BF%D0%BE%D0%BB%D1%83%D1%87%D0%B5%D0%BD%D1%96+%D0%A8%D1%82%D0%B0%D1%82%D0%B8+%D0%90%D0%BC%D0%B5%D1%80%D0%B8%D0%BA%D0%B8/@41.7034016,-87.7823154,17z/data=!3m1!4b1!4m5!3m4!1s0x880e39ad302b2c19:0xc808e9b14d04eb2b!8m2!3d41.7034016!4d-87.7797405"
            target="_blank"
          >
            10340 Ridgeland Ave,<br />
            Chicago Ridge,<br />
            IL 60415, USA
          </a>
          <ul class="store__time">
            <li class="store__time-item">
              <p class="store__working-day">Monday - Friday</p>
              <p class="store__working-time">06:00 AM - 10:00 PM</p>
            </li>
            <li class="store__time-item">
              <p class="store__working-day">Saturday - Sunday</p>
              <p class="store__working-time">08:00 AM - 16:00 PM</p>
            </li>
          </ul>
          <ul class="store__list">
            <li class="store__item">
              <a class="store__link" href="tel:+610383766284"
                >+61(0) 383 766 284</a
              >
            </li>
            <li class="store__item">
              <a class="store__link" href="mailto:noreply@envato.com"
                >noreply@envato.com</a
              >
            </li>
          </ul>
        </li>

        <li class="store">
          <h3 class="store__name">food truck</h3>
          <h4 class="store__region">Los Angeles</h4>
          <a
            class="store__location"
            href="https://www.google.com/maps/place/1003+Manhattan+Ave,+Manhattan+Beach,+CA+90266,+%D0%A1%D0%BF%D0%BE%D0%BB%D1%83%D1%87%D0%B5%D0%BD%D1%96+%D0%A8%D1%82%D0%B0%D1%82%D0%B8+%D0%90%D0%BC%D0%B5%D1%80%D0%B8%D0%BA%D0%B8/@33.8835263,-118.4129035,17z/data=!3m1!4b1!4m5!3m4!1s0x80c2b3eca6743829:0x98448969b9b4373d!8m2!3d33.8835263!4d-118.4103286"
            target="_blank"
          >
            1003 Manhattan Ave,<br />
            Manhattan Beach,<br />
            CA 90263, USA
          </a>
          <ul class="store__time">
            <li class="store__time-item">
              <p class="store__working-day">Monday - Friday</p>
              <p class="store__working-time">06:00 AM - 10:00 PM</p>
            </li>
            <li class="store__time-item">
              <p class="store__working-day">Saturday - Sunday</p>
              <p class="store__working-time">08:00 AM - 16:00 PM</p>
            </li>
          </ul>
          <ul class="store__list">
            <li class="store__item">
              <a class="store__link" href="tel:+610383766284"
                >+61(0) 383 766 284</a
              >
            </li>
            <li class="store__item">
              <a class="store__link" href="mailto:noreply@envato.com"
                >noreply@envato.com</a
              >
            </li>
          </ul>
        </li>

        <li class="store">
          <h3 class="store__name">cafe</h3>
          <h4 class="store__region">New York</h4>
          <a
            class="store__location"
            href="https://www.google.com/maps/place/726+Sterling+Pl,+Brooklyn,+NY+11216,+%D0%A1%D0%BF%D0%BE%D0%BB%D1%83%D1%87%D0%B5%D0%BD%D1%96+%D0%A8%D1%82%D0%B0%D1%82%D0%B8+%D0%90%D0%BC%D0%B5%D1%80%D0%B8%D0%BA%D0%B8/@40.6726938,-73.9573089,17z/data=!3m1!4b1!4m5!3m4!1s0x89c25b9e1735b38f:0xb5fe454b88e9c2c0!8m2!3d40.6726938!4d-73.954734"
            target="_blank"
          >
            726 Sterling Pl,<br />
            Brooklyn, NY 11222, <br />
            USA
          </a>
          <ul class="store__time">
            <li class="store__time-item">
              <p class="store__working-day">Monday - Friday</p>
              <p class="store__working-time">06:00 AM - 10:00 PM</p>
            </li>
            <li class="store__time-item">
              <p class="store__working-day">Saturday - Sunday</p>
              <p class="store__working-time">08:00 AM - 16:00 PM</p>
            </li>
          </ul>
          <ul class="store__list">
            <li class="store__item">
              <a class="store__link" href="tel:+610383766284"
                >+61(0) 383 766 284</a
              >
            </li>
            <li class="store__item">
              <a class="store__link" href="mailto:noreply@envato.com"
                >noreply@envato.com</a
              >
            </li>
          </ul>
        </li>
      </ul>
      <ul class="contacts__button-list">
        <li class="contacts__button-item">
          <button class="button__location" type="button" data-modal-map-open>
            Our Locations
            <svg class="button__icon" width="12" height="12">
              <use href="./images/SprayIceCream.svg#arrow"></use>
            </svg>
          </button>
        </li>
        <li class="contacts__button-item">
          <button class="button__franchise" type="button">
            Franchise
            <svg class="button__icon" width="12" height="12">
              <use href="./images/SprayIceCream.svg#arrow"></use>
            </svg>
          </button>
        </li>
      </ul>
    </div>
  </div>
</section>
