<div class="backdrop-map is-hidden" data-modal-map>
  <div class="modal-map">
    <button type="button" class="modal-map__btn-close" data-modal-map-close>
      <svg class="modal-close__icon" width="17" height="17">
        <use href="./images/SprayIceCream.svg#menu-close"></use>
      </svg>
    </button>

    <p class="modal-map__title">Our Locations</p>

    <div class="modal-map__map-div">
      <img
        class="modal-map__img"
        src="./images/modal-img/map.jpg"
        alt="Points on map"
        width="300"
        height="175"
      />
    </div>

    <div class="modal-map__div-link">
      <a
        class="modal-map__link"
        href="https://www.google.ie/maps/@35.847313,-117.4916379,4z/data=!3m1!4b1!4m3!11m2!2sOb_kSshMQ1G9sYvWALiErQ!3e3"
        target="_blank"
      >
        <span class="modal-map__link-text">Open map</span>
      </a>
    </div>
  </div>
</div>
