
<!--     container-->
<div class="prod-backdrop is-hidden" data-modal-products>
    <div class="modal-prod">
        <!-- <button class="modal-prod__button--close" type="button" data-modal-close>
            <svg class="modal-prod__icon--close" width="24" height="24">
                <use href="./images/SprayIceCream.svg#menu-close"></use>
            </svg>
        </button> -->
        <form class="modal-prod__form">
            <h2 class="modal-prod__title">Chololate icecream</h2>
            <ul class="prod-components__list list">
                <li>
                <!-- <li class="components__item"><span class="components__inner">320</span><span>kcal</span> -->
                    <ul class="prod-components__item list">
                        <li class="prod-components__inner">320</li>
                        <li>kcal</li>
                    </ul>
                </li>
                <li>
                    <ul class="prod-components__item list">
                        <li class="prod-components__inner">4g</li>
                        <li>Protein...</li>
                    </ul>
                </li>
            <li>
                <ul class="prod-components__item list">
                    <li class="prod-components__inner">8,2</li>
                    <li>Fats</li>
                </ul>
            </li>
            <li>
                <ul class="prod-components__item list">
                    <li class="prod-components__inner">40,4g</li>
                    <li>Carbs</li>
                </ul>
            </li>
            </ul>
            <h3 class="modal-prod__tit">Ingredients</h3>
            <ul class="prod-ingredients-list list">
                <li  class="prod-ingredients__item"><span>Milk</span><span>100ml</span></li>
                <li  class="prod-ingredients__item"><span>Belgian chocolate</span><span>20g</span></li>
                <li  class="prod-ingredients__item"><div>Cream</div> 150ml</li>
                <li  class="prod-ingredients__item"><span>Cocoa powder</span><span>30g</span></li>
                <li  class="prod-ingredients__item"><span>Sugar</span><span>40g</span></li>
                <li  class="prod-ingredients__item"><span>Vanilla sugar</span><span>10g</span></li>
            </ul>
            <div class="modal-prod__field">
                <!-- <label class="modal-prod__label" for="name"></label> -->
                <input class="modal-prod__input" placeholder="Name" type="text" name="name" id="name" autocomplete="off">
                <!-- <label class="modal-prod__label" for="tel" >Phone</label> -->
                <input class="modal-prod__input" placeholder="Phone" type="tel" name="tel" id="tel" autocomplete="off">
                <!-- <label class="modal-prod__label" for="comment">Comment</label> -->
                <textarea class="modal-prod__comment" name="comment" id="comment" placeholder="Comment"></textarea>
            </div>
            <button class="modal-prod__button--submit" type="submit">Submit</button>
            <button class="modal-prod__button--close" type="button" data-modal-products-close>
                <svg class="modal-prod__icon--close" width="24" height="24">
                    <use href="./images/SprayIceCream.svg#menu-close"></use>
                </svg>
            </button>
        </form>
    </div>
</div>