<div class="readme__backdrop is-hidden" data-modal-readMe>
  <div class="modal-readme">
    <button
      class="modal-readme__btn--close"
      type="button"
      data-modal-readMe-close
    >
      <svg class="modal-readme__icon--close">
        <use
          href="./images/SprayIceCream.svg#modal-close"
          width="24"
          height="24"
        ></use>
      </svg>
    </button>
    <div class="modal-readme__wrap">
      <h2 class="modal-readme__title">How it’s made?</h2>
      <iframe
        class="modal-readme__iframe"
        width="448"
        height="205"
        src="https://www.youtube.com/embed/2P_avDlig-U"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
      ></iframe>
      <p class="modal-readme__text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et Lorem ipsum dolor sit amet, consectetur
        adipiscing elit, sed do eiusmod tempor incididunt ut labore et
      </p>
    </div>
  </div>
</div>
