<!-- Modal -->
<div class="backdrop is-hidden" data-modal-buy>
  <div class="modal-buy">
    <button data-modal-buy-close type="button" class="modal-buy__btn">
      <svg class="modal-buy__icon" width="24" height="24">
        <use href="./images/SprayIceCream.svg#modal-close"></use>
      </svg>
    </button>
    <p class="modal-buy-title">Buy now</p>
    <ul class="modal-buy__list list">
      <li class="modal-buy__item-1">
        <div class="modal-buy__circle-1">
          <picture class="modal-buy__img">
            <source
              srcset="
                ./images/modal-buy/ice-coffee-modal-min.png    1x,
                ./images/modal-buy/ice-coffee-modal-2x-min.png 2x
              "
            />
            <img
              src="./images/modal-buy/ice-coffee-modal-min.png"
              alt="ice coffee"
            />
          </picture>
        </div>
        ice cream
      </li>
      <li class="modal-buy__item-2">
        <div class="modal-buy__circle-2">
          <picture class="modal-buy__img">
            <source
              srcset="
                ./images/modal-buy/ice-cream-modal-min.png    1x,
                ./images/modal-buy/ice-cream-modal-2x-min.png 2x
              "
            />
            <img src="./images/modal-buy/ice-cream-modal-min.png" alt="" />
          </picture>
        </div>
        ice coffee
      </li>
      <li class="modal-buy__item-3">
        <div class="modal-buy__circle-3">
          <picture class="modal-buy__img">
            <source
              srcset="
                ./images/modal-buy/milkshake-modal-min.png    1x,
                ./images/modal-buy/milkshake-modal-2x-min.png 2x
              "
            />
            <img src="./images/modal-buy/milkshake-modal-min.png" alt="" />
          </picture>
        </div>
        milkshake
      </li>
    </ul>
    <div class="form-buy-container">
      <form class="form-buy">
        <label class="form-buy__label">
          <span class="form-buy__wrap"
            ><input
              class="form-buy__input"
              type="text"
              name="user-name"
              required
              minlength="2"
              placeholder="Name"
            />
          </span>
        </label>
        <label class="form-buy__label">
          <span class="form-buy__wrap"
            ><input
              type="tel"
              class="form-buy__input"
              id="user-tel"
              placeholder="Phone"
              required
            />
          </span>
        </label>
        <div class="coment-buy">
          <textarea
            class="coment-buy__input"
            name="user-coment"
            id="user-coment"
            placeholder="Comment"
          ></textarea>
        </div>
        <div class="buy-btn-wrap">
          <button class="form-buy__button" type="submit">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>
