// Header____________

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 12px 20px 0px 20px;
  max-width: 480px;

  @include tablet {
    min-width: 768px;
    padding: 20px 32px 0;
  }

  @include desktop {
    min-width: 1200px;
    padding: 8px 16px 0;
  }
}

.main-nav {
  display: flex;
}

.navigation__list {
  display: none;

  @include desktop {
    display: flex;
    align-items: center;
    gap: 28px;
    margin-left: 308px;
  }
}

.navigation__link {
  font-weight: 700;
  font-size: 16px;
  line-height: calc(20 / 16);
  color: $main-white;

  &:hover,
  &:focus {
    color: $main-yellow;
  }
}

.modal-btn {
  display: none;

  @include tablet {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    width: 152px;
    height: 42px;
    background: $main-yellow;
    border: transparent;
    border-radius: 10px;

    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: calc(17 / 14);
    color: $black;

    &:hover,
    &:focus {
      background-color: #0a8817;
    }

    &:focus {
      color: $main-white;
    }

    &:disabled {
      background-color: #ababab;
    }
  }
}

.modal-btn:focus .menu-btn__icon {
  fill: $main-white;
}

.btn-wrap {
  display: flex;
  gap: 32px;
}

// Hero______________

.hero.container {
  padding-top: 50px;
  padding-left: 0px;
  padding-right: 0px;

  position: relative;
  height: 454px;
  width: 320px;

  background-image: url(../images/dots/dots-mob-min.png);
  background-repeat: no-repeat;
  background-position-y: bottom;
  background-size: contain;
  @include retina {
    background-image: url(../images/dots/dots-mob-2x-min.png);
  }
  @include tablet {
    padding-top: 14px;
    height: 349px;
    width: 768px;
    background-image: url(../images/dots/dots-tab-min.png);
    @include retina {
      background-image: url(../images/dots/dots-tab-2x-min.png);
    }
  }

  @include desktop {
    padding-top: 45px;
    height: 591px;
    width: 1200px;
    background-image: url(../images/dots/dots-desk-min.png);
    @include retina {
      background-image: url(../images/dots/dots-desk-2x-min.png);
    }
  }
}

.hero-wrap {
  padding-left: 20px;

  @include tablet {
    padding-left: 32px;
  }

  @include desktop {
    padding-left: 16px;
  }
}

.hero__title {
  margin-bottom: 32px;

  font-family: 'Seymour One', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  line-height: calc(33 / 26);
  letter-spacing: 0.04em;
  text-transform: uppercase;

  @include tablet {
    margin-bottom: 24px;
  }

  @include desktop {
    margin-bottom: 28px;
    font-size: 38px;
    line-height: calc(48 / 38);
  }
}

.hero__list {
  display: flex;
  gap: 12px;
  align-items: baseline;
}

.hero__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 108px;
  height: 38px;
  border: 2px solid $main-yellow;
  border-radius: 10px;

  font-weight: 600;
  font-size: 12px;
  line-height: calc(15 / 12);
  color: $main-black;

  &:hover,
  &:focus {
    border-color: #0a8817;
  }

  @include desktop {
    font-size: 14px;
    line-height: calc(18 / 14);

    width: 134px;
    height: 42px;

    &:focus {
      color: $main-white;
    }

    &:disabled {
      border-color: #ababab;
    }
  }
}

.hero__link--2 {
  font-weight: 600;
  font-size: 12px;
  line-height: calc(15 / 12);
  color: $main-yellow;

  &:hover {
    color: #0a8817;
  }

  &:focus {
    color: $main-white;
  }

  &:disabled {
    color: #ababab;
  }

  @include desktop {
    font-size: 14px;
    line-height: calc(18 / 14);
  }
}

.lorem-wrap {
  display: none;

  @include tablet {
    display: flex;
    gap: 32px;
    align-items: flex-end;
    position: absolute;
    bottom: 12px;
    left: 32px;
    z-index: 1;
  }

  @include desktop {
    gap: 16px;
    align-items: center;
    bottom: 65px;
    left: 16px;
  }
}

.arrow {
  display: flex;
  flex-direction: column;
  gap: 12px;

  @include desktop {
    gap: 24px;
    position: relative;
    top: 20px;
  }

  &__text {
    display: block;
    width: 139px;
    height: 85px;

    font-weight: 400;
    font-size: 12px;
    line-height: 1, 4;

    @include desktop {
      font-size: 14px;
      width: 200px;
      height: 80px;
    }
  }

  &__link {
    width: 40px;
  }

  &__icon {
    fill: $main-white;

    .arrow__link:hover &,
    .arrow__link:focus & {
      fill: $main-yellow;
    }
  }
}

.hero-img {
  position: absolute;
  bottom: 0;
  right: 60px;

  @include tablet {
    bottom: 0;
    right: 92px;
  }
}

.our-shops {
  display: none;
  position: absolute;
  top: 28px;
  right: 32px;

  @include desktop {
    top: 53px;
    right: 16px;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  &__item {
    display: flex;
    flex-direction: column;

    font-weight: 400;
    font-size: 8px;
    line-height: calc(10 / 8);
    text-align: right;

    @include desktop {
      font-size: 14px;
      line-height: calc(17 / 14);
    }
  }

  &__number {
    color: $main-black;

    font-weight: 900;
    font-size: 28px;
    line-height: calc(34 / 28);
    letter-spacing: 0.04em;
    text-transform: uppercase;

    @include desktop {
      font-size: 46px;
      line-height: calc(56 / 46);
    }
  }

  @include tablet {
    display: block;
  }
}

// Mobile-menu_________

.menu-toggle {
  display: flex;
  align-items: center;
  background-color: transparent;
  border: none;

  @include desktop {
    display: none;
  }
}

.menu-toggle__icon {
  fill: $main-white;

  .menu-toggle:hover &,
  .menu-toggle:focus & {
    fill: $main-black;
  }
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-bottom: 64px;
  background-color: #85a279;
  z-index: 100;
  overflow: scroll;

  transform: translateX(100%);
  transition: transform 250ms ease-in-out;

  > .container {
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    overflow: scroll;

    padding: 0 40px;
  }

  @include tablet {
    background-color: #97af8d;
  }
}

.menu-container.is-open {
  transform: translateX(0);
}

.menu-container .menu-toggle {
  position: absolute;
  top: 16px;
  right: 20px;
}

.mob-wrap {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.mob-menu-top {
  padding-top: 100px;
  display: flex;
  justify-content: center;
}
.mobile-menu {
  display: flex;
  flex-direction: column;
  // justify-content: center;
  gap: 32px;

  &__link {
    display: flex;
    justify-content: center;

    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: calc(39 / 32);
    text-align: center;

    color: $main-white;

    &:hover,
    &:focus {
      color: $main-black;
    }

    @include tablet {
      font-weight: 700;
      font-size: 48px;
      line-height: calc(59 / 48);
    }
  }
}

.mob-menu-bottom {
  display: flex;
  justify-content: center;

  @include tablet {
    display: none;
  }
}
.menu-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  width: 152px;
  height: 42px;
  background: $main-yellow;
  border: transparent;
  border-radius: 10px;

  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: calc(17 / 14);
  color: $black;

  &:hover,
  &:focus {
    background-color: #0a8817;
  }

  &:focus {
    color: $main-white;
  }

  &:disabled {
    background-color: #ababab;
  }
}

.menu-logo {
  position: absolute;
  top: 12px;
  left: 32px;
}
