.backdrop-map {
  position: fixed;
  top: 0;
  left: 0;
  visibility: visible;
  opacity: 1;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 65px 15px;

  background-color: rgba(227, 252, 5, 0.226);
  transition: opacity 250ms linear, visibility 250ms linear;
  &.is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    transition: opacity 250ms linear, visibility 250ms linear;
  }
}

.modal-map {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, 0);
  width: 300px;
  height: 350px;
  max-height: 458px;
  border-radius: 4px;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  padding: 10px 10px;
  background: #fcfcfc;
  border: 2px solid #f8d24e;
  border-radius: 10px;
}

.modal-map__btn-close {
  position: absolute;
  top: 12px;
  right: 12px;
  width: 24px;
  height: 24px;
  padding: 0;

  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fcfcfc;
  border: none;
}
.modal-map__btn-close:hover,
.modal-map__btn-close:focus {
  fill: #0a8817;
}

.modal-map__title {
  padding-bottom: 32px;
  font-family: 'Seymour One';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: calc(28 / 20);
  display: flex;
  align-items: center;
  text-align: center;
  color: #131313;
}

.modal-map__map-div {
  display: block;
  width: 100%;
  height: auto;
  padding-bottom: 32px;
  border-radius: 10px;
}
.modal-map__img {
  border-radius: 10px;
  width: 100%;
  height: 100%;
}
.modal-map__div-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 145px;
  height: 42px;
}

.modal-map__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  text-decoration: none;
  background-color: #f8d24e;
  border-radius: 10px;
}

.modal-map__link:hover,
.modal-map__link:focus {
  background-color: #0a8817;
}

.modal-map__link-text {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: calc(17 / 14);
  color: #131313;
}

@media screen and (max-width: 479px) {
  .backdrop-map {
    width: 100%;
  }
}

@media screen and (min-width: 480px) {
  .backdrop-map {
    padding-left: 20px;
    padding-right: 20px;
  }

  .modal-map {
    width: 440px;
    height: 400px;
    padding-left: 50px;
    padding-right: 50px;
  }
}

@media screen and (min-width: 768px) {
  .modal-map {
    width: 650px;
    height: 600px;
  }

  .modal-map__map-div {
    width: 80%;
  }
}

@media screen and (min-width: 1200px) {
  .backdrop-map {
    width: 100%;
    padding-right: 50px;
    padding-left: 50px;
  }
}
